{% extends "templates/partials/base.j2" %}
{% block title %}Korrespondenzen{% endblock %}
{% block scriptHeader %}
<script src="https://unpkg.com/deck.gl@^8.8.0/dist.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>

<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.13.0/mapbox-gl.js"></script>
<script src="https://unpkg.com/@deck.gl/extensions@^7.0.0/dist.min.js"></script>

{% endblock scriptHeader %}


{% block content %}

<div>
<div id="control-panel">
  <div>
    <label>Bogenbreite</label>
    <input id="getWidth" type="range" min="0" max="3" step="1" value="2"></input>
    <span id="getWidth-value"></span>
  </div>
  <div>
    <label>Bogenhöhe</label>
    <input id="getHeight" type="range" min="0.1" max="1" step="0.1" value="0.5"></input>
    <span id="getHeight-value"></span>
  </div>
  
</div>
<div id="filter-panel">
  <div>
    <label>Suche in Absendeorte</label>
    <input id="searchPlaceInput" type="text" class="form-control" placeholder="Suche in Absendeorte"></input>
  </div>
  <div>
    <label>Suche in Absendern</label>
    <input id="searchAdesseInput" type="text" class="form-control" placeholder="Suche in Absendern"></input>
  </div>
  <div>
    <label>Jahr (min)</label>
    <input id="filter-min" type="range" min="0" max="2050" step="1" value="1900"></input>
    <span id="filter-min-value"></span>
  </div>
  <div>
    <label>Jahr (max)</label>
    <input id="filter-max" type="range" min="1000" max="2050" step="1" value="1901"></input>
    <span id="filter-max-value"></span>
  </div>
</div>
<div id="viscontainer"></div>

</div>
<script src="static/js/arcs.js"></script>
{% endblock %}