<div id="footer" class="py-3 my-4 border-top bg-light">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="text-align: center;">
      <span>
        <a href="https://github.com/csae8092/cmifun">
          <i class="bi bi-github"></i>
        </a>
      </span>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>