<nav class="navbar navbar-expand-lg bg-light p-3">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="index.html">Über das Projekt</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Visualisierungen
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="towers.html">Orte (Sender)</a></li>
            <li><a class="dropdown-item" href="arcs.html">Korrespondenzen (nach Jahren)</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>